* {
    -fx-font-weight: bold;
    -fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, aqua 0%, red 50%);
}

.button {
    -fx-background-color: transparent;
    -fx-min-width: 100;
    -fx-font-size: 35;
    -fx-text-shadow: 10, 10, red;
}

.label {
    -fx-font-size: 20;
    -fx-background-color: transparent;
    -fx-alignment: center;
}

.scene {
    -fx-padding: 10;

}

.vbox {
    -fx-background-color: black;
}
