* {
    -fx-font-weight: bold;
    -fx-text-fill: red;
}

.button {
    -fx-background-color: black;
    -fx-min-width: 100;
    -fx-font-size: 35;
}

.label {
    -fx-font-size: 50;
    -fx-background-color: gray;
    -fx-alignment: center;
}

.scene {
    -fx-padding: 10;
    -fx-background-color: ghostwhite;
}

.vbox {
    -fx-alignment: center;
}